/* CSS style sheet */
@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: no-repeat;
  background-size: cover;
  background-position: center;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.copiel {
  font-size: 2em;
  color: #161616;
  user-select: none; 
}


.navigation .btnLeader-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #161616;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #162938;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.navigation .btnLeader-popup:hover {
  background: #161616;
  color: #fff;
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #161616;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #162938;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.navigation .btnLogin-popup:hover {
  background: #161616;
  color: #fff;
}